.page {
    width: 215.9mm;
    min-height: 355.6mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    background: white;
}

@page {
size: legal;
margin: 0;
}
    .table1 {
        background: #fff;
        padding: 0px 0px 0px 5px;
        border-collapse: collapse;
        table-layout: fixed;
        word-wrap:break-word;
    }
   .table1 tr, .table1 td, .table1 th {
        border: table-cell;
        border: 1px  solid #444;
    }
    tr,td,th {
        vertical-align: top!important;
    }

    #surat {
            width: auto;
            position: relative;
            margin: 0 0 0 60%;
        }
    .tglsurat {
            width: auto;
            position: relative;
            margin: 0 0 0 60%;
        }
    #right {
        border-right: none !important;
    }
    #left {
        border-left: none !important;
    }
    .isi {
        height: 300px!important;
    }
    .disp {
        text-align: center;
        padding: 1.5rem 0;
        margin-bottom: .5rem;
    }
    .logo{
        width: 90px;
        height: 90px;
        z-index: -1;
        float : left;
    }
    .logodisp {
        width: 110px;
        height: 110px;
        margin: 10 10 10 10;
        position: absolute;
        left: 50px;
        top: 25px;
        z-index: -1;
    }
    #lead {
        width: auto;
        position: relative;
        margin: 5px 0 0 75%;
    }
    .lead {
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: -10px;
    }
    .tgh {
        text-align: center;
    }
    .rata {
            text-align: justify;
    }
    #nama {
        font-size: 2.1rem;
        margin-bottom: -1rem;
    }
    #alamat {
        font-size: 16px;
    }
    .up {
        text-transform: uppercase;
        margin: 0;
        line-height: 2.2rem;
        font-size: 1.5rem;
    }
    .status {
        margin: 0;
        font-size: 1.3rem;
        margin-bottom: .5rem;
    }
    #lbr {
        font-size: 20px;
        font-weight: bold;
    }
    .separator1 {
        height:1px;
        background:#717171;
        border-bottom:1px solid #313030;
    }

    .separator2 {
        height:1.5px;
        background:#717171;
        border-bottom:5px solid #313030;
    }
    .jdl {
            margin-top: -15px;
            font-size: 14pt!important;
        }

    @media print{
html, body {
font-size: 12pt;
width: 215.9mm;
height: 355.6mm;        
}
.page {
margin: 0;
border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

        nav {
            display: block;
        }
        .table1 {
            line-height:1.5;
            align:center;
            font-size: 12pt;
            color: #212121;
            table-layout: fixed;
            word-wrap:break-word;
        }
        .table1 tr, .table1 td , .table1 th{
            width: 300px;
            border: table-cell;
            border: 1px  solid #444;
            padding: 0px 5px 5px 5px!important;

        }
        .table1 td:first-child {
            width: 20px;
        }
        tr,td,th {
            vertical-align: top!important;
        }
        #lbr {
            font-size: 20pt;
        }
        .isi {
            height: 200px!important;
        }
        .tgh {
            text-align: center;
        }
        .rata {
            text-align: justify;
        }
        .disp {
            text-align: center;
            margin: -.5rem 0;
        }
        .logodisp {
            
       
        position: absolute;
        left: 50px;
        top: 25px;
        z-index: -1;
            
            width: 50px;
            height: 50px;
            margin: .5rem 0 0 .5rem;
        }
        #surat {
            width: auto;
            position: relative;
            margin: 0 0 0 60%;
        }
        .tglsurat {
            width: auto;
            position: relative;
            margin: 0 0 0 50%;
        }
        #lead {
            width: auto;
            position: relative;
            margin: 15px 0 0 60%;
        }
        .lead {
            font-weight: bold;
            text-decoration: underline;
            margin-bottom: -10px;
        }
        #nama {
            font-size: 20pt!important;
            font-weight: bold;
            text-transform: uppercase;
            margin: -10px 0 -20px 0;
        }
        .up {
            font-size: 16pt!important;
            font-weight: bold;
        }
        .status {
            font-size: 12pt!important;
            font-weight: normal;
            margin-bottom: -.1rem;
        }
        #alamat {
            margin-top: -15px;
            font-size: 10pt;
        }
        .jdl {
            margin-top: -15px;
            font-size: 14pt!important;
        }
        #lbr {
            font-size: 17px;
            font-weight: bold;
        }
        .separator {
            border-bottom: 5px solid #616161;
            margin: -1rem 0 1rem;
        }

    }